/* GOOD BEM */

.header__title  { color: #e19829; }


/* BAD BEM */
.header .header__title  { color: #e19829; }

div.header__title  { color: #e19829; }


/* Sass Output */

body {
  font: 100% Helvetica, sans-serif;
  color: #e19829;
}