
$font-stack:     'Lato', sans-serif;
$primary-color:  #333;
$grey-300:       #ccc;
$purple-100:     #49468B;


.friend {
  display: flex;

  &__image {
    width: auto;
    height: 200px;
  }

  &__name {
    font-size: 1.2em;
  }

  &__description {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
  }

  &__friend--best {
    background-color: $purple-100;
  }
}





<div className="friend friend--best">
<img href={ this.props.imagePath } className="friend__image">
<h2 className="friend__name">{ this.props.name }</h2>
<p className="friend__description">{ this.props.description }</p>
</div>









.friend {
  margin: 0;
  padding: 0;
}

.friend__image {
  width: auto;
  height: 200px;
}

.friend__description {
  margin: 1em;
  font-family: 'Lato', sans-serif;
}

.friend__quote {
  margin-bottom: 8px;
  color: $purple-100;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.3em;
}
  
.friend__details {
  line-height: 1.7em;
}
  
.friend__details--empty {
  color: $gray-300;
}


